<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button routerLink="/settings">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Instagram
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Instagram</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-list-header>Packages</ion-list-header>
    <ion-item *ngFor="let userDescription of userDescriptions" (click)="openUser(userDescription.username)" button>
      <ion-avatar slot="start">
        <img class="" [src]="userDescription.icon" style="width: 100%; height: 100%;">
      </ion-avatar>
      <ion-label>
        <h2>{{ userDescription.username }}</h2>
        <p>{{ userDescription.biography }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-progress-bar *ngIf="importProgress != null" color="primary" [value]="importProgress"></ion-progress-bar>
  <div *ngIf="importProgress != null">{{ importProgress * 100 }}%</div>
  <ion-button expand="block" (click)="importPackages()" [disabled]="importProgress != null">Import Packages</ion-button>
  <ion-button expand="block" color="danger" (click)="clearPackages()">Clear Packages</ion-button>
</ion-content>
